* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* html{
  font-size: 62.5%;
} */

:root {
  --navbar-height: 60px;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

.App {
  padding-top: var(--navbar-height);
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align {
  display: flex;
  align-items: center;
}

a,
button {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: "Rajdhani", sans-serif !important;
}

p {
  font-family: "Roboto", sans-serif !important;
  color: "#333333";
}
#map {
  width: 100%;
  margin: auto;
  height: 100% !important;
}
